@model List<MoneyWise.Models.Users>

@{
    ViewBag.Title = "User List";
}

<h2>User List</h2>
<a href="/Users/Create" class="btn btn-primary">Create New</a>
<table class="table table-bordered">
    <tr>
        <th>UserID</th>
        <th>Username</th>
        <th>Password</th>
        <th>Contact</th>
        <th>Address</th>
        <th>Actions</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserID</td>
            <td>@user.Username</td>
            <td>@user.Password</td>
            <td>@user.ContactNumber</td>
            <td>@user.Address</td>
            <td>
                <a href="/Users/Edit/@user.UserID">Edit</a> |
                <a href="/Users/Delete/@user.UserID" onclick="return confirm('Delete user?');">Delete</a>
            </td>
        </tr>
    }
</table>
